%h1
  Nytt evenemang

%form.form-horizontal{action: "/events", method: "post"}
  %fieldset
    %legend
      Skapa ett nytt event

    .row
      .span6#event_form
        -unless @event.nil?  
          = haml :"errors", locals: { errors: @event.errors }  
        .control-group{ class: ( "error" if @event.errors.has_key?(:title) ) }
          %label.control-label{for: "event_title"} Titel
          .controls
            %input.input-xlarge{type: "text", id: "event_title", name: "event[title]", value: @event.title}
            %p.help-block
              Titeln på eventet
              - if @event.errors.has_key?(:title)
                %br
                %span
                  %small
                    = @event.errors[:title][0]

        .control-group{ class: ( "error" if @event.errors.has_key?(:description) ) }
          %label.control-label{for: "event_description"} Beskrivning
          .controls
            %textarea.input-xlarge{type: "textarea", rows: 5, id: "event_description", name: "event[description]", value: @event.description}
            %p.help-block
              En kort beskrivning
              - if @event.errors.has_key?(:description)
                %br
                %span
                  %small
                    = @event.errors[:description][0]
        
        .control-group{ class: ( "error" if @event.errors.has_key?(:starttime) ) }
          %label.control-label{for: "event_starttime"} Tid då eventet börjar
          .controls
            %input.input-xlarge{type: "text", id: "event_starttime", name: "event[starttime]", value: @event.starttime}
            %p.help-block
              Datum och tid för eventet
              - if @event.errors.has_key?(:starttime)
                %br
                %span
                  %small
                    = @event.errors[:event][0]


        .control-group{ class: ( "error" if @event.errors.has_key?(:company) ) }
          %label.control-label{for: "event_company_id"} Företag
          .controls
            %select{name: "event[company_id]"}
              - @companies.each do |c|
                %option{value: c.id}= c.name
            %p.help-block
              Det företag som eventet tillhör
              - if @event.errors.has_key?(:company)
                %br
                %span
                  %small
                    = @event.errors[:company][0]

    .form-action
      %input.btn.btn-primary{type: "submit", value: "Spara"}
