%tr{ class: ( job.paid? ? "success" : "warning") }
  %td
    - unless job.company.nil?
      = job.company.name
  %td
    %a{href: "/jobs/#{job.id}/" }
      = job.title
  %td
    = job.starttime.strftime("%Y-%m-%d") rescue "No starttime"
    till
    = job.endtime.strftime("%Y-%m-%d") rescue "No starttime"
  %td
    - unless job.starttime.nil?
      = job.weeks
  %td
    = job.viewcount
  %td 
    - unless (job.paid)
      - unless (job.has_ended rescue false)
        %a.btn.btn-warning.btn-mini{href: "/admin/pay/#{job.id}" }
          %i.icon-bell.icon-white
          Betald
    %a.btn.btn-info.btn-mini{href: "/jobs/#{job.id}/edit"}
      %i.icon-edit.icon-white
      Redigera
    - if @current_user.admin?
      - if job.active?
        %a.btn.btn-warning.btn-mini{href: "/jobs/#{job.id}/hide"} 
          %i.icon-trash.icon-white
          Dölj
      - else
        %a.btn.btn-danger.btn-mini{href: "/jobs/#{job.id}/hide"}
          %i.icon-trash.icon-white
          Dold
      %a.btn.btn-warning.btn-mini{href: "/jobs/#{job.id}/delete"}
        Ta bort


