%tr{ class: ( job.paid? ? "success" : "warning") }
  %td
    - unless job.company.nil?
      = job.company.name
  %td
    = job.title
  %td
    = job.starttime.strftime("%Y-%m-%d") rescue "No starttime"
    till
    = job.endtime.strftime("%Y-%m-%d") rescue "No starttime"
  %td
    - unless job.starttime.nil?
      = job.weeks
  %td
    = job.display_categories
  %td 
    - unless (job.paid)
      - unless (job.has_ended rescue false)
        %a.btn.btn-warning.btn-mini{href: "/admin/pay/#{job.id}" }
          %i.icon-bell.icon-white
          Betald
    %a.btn.btn-info.btn-mini{href: "/jobs/#{job.id}/" } 
      %i.icon-info-sign.icon-white
      Mer info
    -if Role.is_company_rep(env["warden"], job.company_id)
      %a.btn.btn-info-btn-mini{href: "/jobs/#{job.id}/edit"} 
        %i.icon-edit.icon-white
        Redigera
    - if env["warden"].authenticated?(:admin)
      %a.btn.btn-warning.btn-mini{href: "/jobs/#{job.id}/delete"} 
        %i.icon-trash.icon-white
        Ta bort


