<!DOCTYPE html>
%html{lang: "se"}
  %head
    %title= @title || "Jobbportal | Datasektionen KTH - Jobb för dataloger"
    %meta{charset: "utf-8" }
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport" }

    %meta{name: "keywords", content: "kth,jobb,data,programmering,students,ths"}
    %meta{name: "author", content: "Simon Ström"}
    %meta{name: "description", content: "Jobb för dataloger. Exjobb, extrajobb eller ditt första jobb efter KTH."}
    %meta{name: "theme-color", content: "#F400A1"}

    %link{rel: "alternate", type: "application/atom+xml", href: "/jobs/rss.xml"}
    /[if lt IE 9]
      %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    %link{href: "/img/favicon.ico", rel: "shortcut icon" }

    <!-- Bootstrap -->
    %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"}
    %link{href: "/css/djobb.css", rel: "stylesheet" }

  %body
    - if can? :view, :header
      = haml :"header"
    - else
      = haml :"new_header"
    = haml :"flash"

    .container-fluid
      .content
        = yield
      .footer
        = haml :"subscribe"
        .row
          .col-sm-12
            %ul.footer-links
              %li.footer-link
                %a{href: "/jobs/rss.xml"}
                  %img{src: "https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/rss.png", class: "icon rss-feed"}
                  RSS Feed
              %li.footer-link
                %a{href: "https://www.facebook.com/kth.d.naringsliv"}
                  %img{src: "http://img3.wikia.nocookie.net/__cb20101107023004/avatar/images/3/3f/Facebook_icon.png", class: "icon"}
                  Facebook
              %li.footer-link
                %a{href: "http://www.datasektionen.se"} KTH Datasektionen
              %li.footer-link
                %a{href: "mailto:foretag@d.kth.se"} Söker du studenter?
    %script{src: "https://code.jquery.com/jquery-1.11.1.min.js"}
    %script{src: "/js/application.js"}
    %script{src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"}
