<!DOCTYPE html>
%html{lang: "se"}
  %head
    %title Datasektionens Jobbportal
    %meta{charset: "utf-8" }
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport" }

    %meta{name: "keywords", content: "kth,jobb,data,programmering,students,ths"}
    %meta{name: "author", content: "Simon Ström"}
    %meta{name: "description", content: "Job placements for computer science students. Find soon to graduate students."}
    %link{href: "/css/jquery-ui.custom.css", rel: "stylesheet" }
    %link{href: "/css/voting-list.css", rel: "stylesheet" }
    %link{rel: "alternate", type: "application/atom+xml", href: "/jobs/rss.xml"}
    /[if lt IE 9]
      %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    %link{href: "/img/icon_small.png", rel: "shortcut icon" }


    <!-- Bootstrap -->
    %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"}
    
    %link{href: "/css/djobb.css", rel: "stylesheet" }
    

  %body
    - if can? :view, :header
      = haml :"header"
    - else
      = haml :"new_header"
    = haml :"flash"
    .container-fluid
      .content
        = yield
      .footer
        .row
          .col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1.col-xs-12
            %footer.center
              = haml :"subscribe"
        .row
          .col-md-12.col-lg-12
            %h5.center
              %a{href: "/jobs/rss.xml"}
                RSS feed
              %strong
                Jobbportalen 
              %a{href: "http://www.datasektionen.se"} KTH Datasektionen 
    %script{src: "https://code.jquery.com/jquery-1.11.1.min.js"}
    %script{src: "/js/application.js"}
    %script{src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"}
