%ul.nav.pull-right
  - if env["warden"].user.nil?
    %li.menu-push-down
      %a.hidden-phone{href: "/auth/login"} 
        %i.icon-off
        = "Logga in"
      -#%a.btn.btn-mini{href: "/auth/login"} Företag loggar in här..
  - else
    - if env["warden"].authenticated?
      - if can? :list, :ddagen
        %li.menu-push-down
          %a{href: "/ddagen"} D-Dagen
      - if can? :create, Job
        %li.menu-push-down
          %a{href: "/jobs/new"} Lägg till en annons
    - if can? :list, :admin
      %li.hidden-phone.menu-push-down
        %a{href: "/admin"} Admin
    - if can? :show, current_user
      %li.menu-push-down
        %a{href: "/companies/#{Role.get_user(env["warden"]).id}/"} Mina Annonser
    - if can? :edit, current_user
      %li.menu-push-down
        %a{href: "/companies/#{Role.get_user(env["warden"]).id}/edit"} Min profil


    %li.menu-push-down
      -#%a.hidden-phone.btn.btn-mini{href: "/auth/logout"} 
        -#= "Logga ut #{Role.get_user(env["warden"]).name}"
      %a.hidden-tablet.hidden-phone{href: "/auth/logout"} 
        %i.icon-off 
        = "Logga ut #{Role.get_user(env["warden"]).name}"
      %a.visible-tablet.visible-phone{href: "/auth/logout"} 
        %i.icon-off 
        = "Logga ut"
 
