%ul.nav.navbar-nav.navbar-right
  - if env["warden"].user.nil?
    %li
      %a{href: "/auth/login"} 
        %span.glyphicon.glyphicon-log-out
        = "Logga in"
  - else
    - if env["warden"].authenticated?
      - if can? :create, Job
        %li
          %a{href: "/jobs/new"} Lägg till en annons
    - if can? :list, :admin
      %li
        %a{href: "/admin"} Admin
    - if can? :show, current_user
      %li
        %a{href: "/companies/#{Role.get_user(env["warden"]).id}/"} Mina Annonser
    - if can? :edit, current_user
      %li
        %a{href: "/companies/#{Role.get_user(env["warden"]).id}/edit"} Min profil

    %li
      %a{href: "/auth/logout"} 
        %i.icon-off 
        = "Logga ut #{Role.get_user(env["warden"]).name}"
