%ul.nav.pull-right
  - if env["warden"].user.nil?
    %li.divider-vertical
    %li
      %a{href: "/auth/login"} 
        %i.icon-off
        = "Logga in"
      -#%a.btn.btn-mini{href: "/auth/login"} Företag loggar in här..
  - else
    - if env["warden"].authenticated?
      %li
        %a{href: "/jobs/new"} Lägg till en annons
      - if env["warden"].user.admin?
        %li.hidden-phone
          %a{href: "/categories/"} Kategorier
        %li.hidden-phone
          %a{href: "/companies/"} Företag
    - if env["warden"].user.admin?
      %li.hidden-phone
        %a{href: "/admin"} Admin
    %li
      %a{href: "/companies/#{Role.get_user(env["warden"]).id}/"} Din profil

    %li.divider-vertical
    %li
      -#%a.hidden-phone.btn.btn-mini{href: "/auth/logout"} 
        -#= "Logga ut #{Role.get_user(env["warden"]).name}"
      %a.hidden-tablet.hidden-phone{href: "/auth/logout"} 
        %i.icon-off 
        = "Logga ut #{Role.get_user(env["warden"]).name}"
      %a.visible-tablet.visible-phone{href: "/auth/logout"} 
        %i.icon-off 
        = "Logga ut"
 
