%tr
  %td
    = job.company.name
  %td
    = job.title
  %td
    = job.number_of_days
    - if job.paid?
      %span.label.label-success
        Betalad
    - if !job.paid?
      %span.label.label-warning
        Inte betalad
  %td
    - if job.is_new
      %span.label.label-success
        New
  %td
    = job.display_categories
  %td 
    %a.btn.btn-primary{href: "/jobs/#{job.id}/" } 
      %i.icon-info-sign.icon-white 
      Mer info
    -if Role.is_company_rep(env["warden"], job.company_id)
      %a.btn.btn-info{href: "/jobs/#{job.id}/edit"} 
        %i.icon-edit.icon-white
        Redigera
