.row-fluid
  .span12
    %h1 Företag
    %hr
    %a.btn.btn-info{href: "/companies/new"} Nytt företag

    %table.table.table-striped.table-bordered
      %thead
        %th
          Företag
        %th
          betalda annonser / Antal annonser
        %th
          Alternativ

      %tbody
        - @companies.each do |company|
          %tr
            %td
              %a{href: "/companies/#{company.id}/"}
                = company.name
            %td
              = company.jobs.is_paid.count
              = "/"
              = company.jobs.count
            %td
              - if env["warden"].user.admin?
                %a.btn.btn-info.btn-mini{href: "/companies/#{company.id}/edit"}
                  %i.icon-remove.icon-white
                  Ändra
                %a.btn.btn-warning.btn-mini{href: "/companies/#{company.id}/delete"}
                  %i.icon-remove.icon-white
                  Ta bort
.row-fluid
  .span12
    %h3
      Inactive companies
    %table.table.table-striped.table-bordered
      %thead
        %th
          Företag
        %th
          Antal betalda / Antal annonser
      %tbody
        - @inactiveCompanies.each do |company|
          %tr
            %td
              = company.name
            %td
              = company.jobs.is_paid.count
              = "/"
              = company.jobs.count


