.row
  .span6
    .control-group
      %label.control-label{for: "job_title"} Titel
      .controls
        %input.input-xlarge{id: "job_title", name: "job[title]", value: @job.title}
        %p.help-block
          Titeln på annonsen

    .control-group
      %label.control-label{for: "job_short_description"} Kort beskrivning
      .controls
        %input.input-xlarge{type: "textarea", id: "job_short_description", name: "job[short_description]", value: @job.short_description}
        %p.help-block
          En kort beskrivning

    .control-group
      %label.control-label{for: "job_description"} Lång Beskrivning
      .controls
        %textarea.input-xlarge{type: "textarea", id: "job_description", name: "job[description]", rows: 10}
          = @job.description
        %p.help-block
          Längre och mycket detaljerad beskrivning av tjänsten.

    .control-group
      %label.control-label{for: "job_category"} Kategorier:
      .controls
        - @categories.each do |category|
          %label.checkbox
            %input{type: "checkbox", name: "categories[id][]", value: category.id, checked: @job.categories.include?(category)}
            = category.name
        %p.help-block 
          Vilka kategorier bör annonsen vara associerad med

    .control-group
      %label.control-label{for: "job_company"} Företag
      .controls

        %select{id: "job_company_id", name: "job[company_id]"}
          %option{value: 0, } Välj ett..
          - @companies.each do |company|
            -if company.id == @job.company_id
              %option{value: company.id, selected: true}= company.name
            -else
              %option{value: company.id}= company.name
        %p.help-block
          Det företag som annonsen tillhör

    .control-group
      %label.control-label{for: "job_created_by"} Vem har skapat annonsen?
      .controls
        %input{type: "hidden", name: "job[created_by]", value: @job.created_by}
        = User.get(@job.created_by).name rescue ""

    .control-group
      %label.control-label{for: "job_apply_url"}Adress till extern sida
      .controls
        %input.input-xlarge{type: "textarea", id: "job_apply_url", name: "job[apply_url]", value: @job.apply_url}
        %p.help-block
          Den länken man kan trycka på för att söka.
  .span4
    %h3
      Help

    %P
      För att formatera din text kan du använda ett mark-up språk som heter Textile. Se länken nedan för referens samt kolla exemplet nedan.

    %a{href: "http://redcloth.org/textile"} Länk till referens

    .example
      %textarea.span3{class: "exampleinput", name: "exampleinput", rows: 10, col: 150}
        h1. Give RedCloth a try!

        A *simple* paragraph with
        a line break, some _emphasis_ and a "link":http://redcloth.org

        * an item
        * and another

    


