.row
  .col-lg-offset-1.col-lg-10#job_form
    -unless @job.nil?
      = haml :"errors", locals: { errors: @job.errors }
    .form-group{ class: ( "has-error" if @job.errors.has_key?(:title) ) }
      %label.control-label.col-sm-2{for: "job_title"} Titel
      .col-sm-10
        %input.form-control.input-lg{type: "text", id: "job_title", name: "job[title]", value: @job.title}
        %span.help-block
          Titeln på annonsen
          - if @job.errors.has_key?(:title)
            %br
            %span
              %small
                = @job.errors[:title][0]

    .form-group{ class: ( "has-error" if @job.errors.has_key?(:short_description) ) }
      %label.control-label.col-sm-2{for: "job_short_description"} Kort beskrivning
      .col-sm-10
        %input.form-control.input-lg{type: "text", id: "job_short_description", name: "job[short_description]", value: @job.short_description}
        %span.help-block
          En kort beskrivning
          - if @job.errors.has_key?(:short_description)
            %br
            %span
              %small
                = @job.errors[:short_description][0]

    .form-group{ class: ( "has-error" if @job.errors.has_key?(:description) ) }
      %label.control-label.col-sm-2{for: "job_description"} Lång Beskrivning
      .col-sm-10

        %textarea.form-control.input-lg{style: "width: 600px", type: "textarea", id: "job_description", name: "job[description]", rows: 10}~ @job.description
        %span.help-block
          Längre och mycket detaljerad beskrivning av tjänsten. Använd markups!
          %a{href: "http://nestacms.com/docs/creating-content/markdown-cheat-sheet"} Här
          finns mer information.

          - if @job.errors.has_key?(:description)
            %br
            %span
              %small
                = @job.errors[:description][0]

    .form-group#categories{ class: ( "has-error" if @job.errors.has_key?(:categories) ) }
      %label.col-sm-2.control-label{for: "job_category"} Kategorier
      .col-sm-10
        - @categories.each do |category|
          %label.checkbox
            %input{type: "checkbox", name: "categories[id][]", id: "category_#{category.id}", value: category.id, checked: @job.categories.include?(category)}
            = category.name
        %p.help-block
          Vilka kategorier bör annonsen vara associerad med
          - if @job.errors.has_key?(:categories)
            %br
            %span
              %small
                = @job.errors[:categories][0]

    .form-group{ class: ( "has-error" if @job.errors.has_key?(:company) ) }
      %label.control-label.col-sm-2{for: "job_company_id"} Företag
      .col-sm-10
        %p
          = @job.company.name rescue "no company"
        %input.form-control.input-lg{type: "hidden", id: "job_company_id", name: "job[company_id]", value: @job.company_id}
        %p.help-block
          Det företag som annonsen tillhör
          - if @job.errors.has_key?(:company)
            %br
            %span
              %small
                = @job.errors[:company][0]

    .form-group{ class: ( "has-error" if @job.errors.has_key?(:apply_url) ) }
      %label.control-label.col-sm-2{for: "job_apply_url"}Webbadress till externt formulär
      .col-sm-10
        %input.form-control.input-lg{type: "text", id: "job_apply_url", name: "job[apply_url]", value: @job.apply_url}
        %p.help-block
          Lämnas fältet tomt, så visas den registrerade mailadressen. Skriv inte http:// först.
          - if @job.errors.has_key?(:apply_url)
            %br
            %span
              %small
                = @job.errors[:apply_url][0]

    - if !@job.has_started?
      .form-group{ class: ( "has-error" if @job.errors.has_key?(:starttime) ) }
        %label.control-label.col-sm-2{for: "job_starttime"} Tid då annonsen ska börja visas.
        .col-sm-10
          %input.form-control.input-lg{type: "text", class: "timeselector", id: "job_starttime", name: "job[starttime]", value: @job.starttime}
          %p.help-block
            Klicka i textfältet för en kalender.
            - if @job.errors.has_key?(:starttime)
              %br
              %span
                %small
                  = @job.errors[:startime][0]
    - else
      %h5
        = "Annonsen visas mellan #{@job.starttime} och #{@job.endtime} ( Den visas under #{@job.weeks} veckor)"

    .form-group{ class: ( "has-error" if @job.errors.has_key?(:weeks) ) }
      %label.control-label.col-sm-2{for: "job_endtime"} Hur många veckor ska annonsen visas.
      .col-sm-10
        %select.form-control{id: "job_number_of_weeks", name: "job[weeks]"}
          - ((@job.weeks_passed)..(@job.weeks_passed + 5)).each do |w|
            - unless w == 0
              %option{value: w, selected: ( "selected" if @job.weeks == w)}
                = "#{w} vecka"
        %span.help-block
          - if @job.errors.has_key?(:weeks)
            %br
            %span
              %small
                = @job.errors[:endtime][0]
