%tr
  %td
    = job.company.name
  %td
    = job.title
  %td
    = job.description
  %td
    = job.created_at
  %td
    = job.categories.map(&:name).join(", ")
  %td 
    %a.btn.btn-info{href: "/jobs/#{job.id}/" } Mer info
    - unless env["warden"].user.nil?
      %a.btn{href: "/jobs/#{job.id}/edit"} Redigera
