%tr
  %td
    %a{href: "/jobs/#{job.id}/" }
      %img.company_logo{src: job.company.logo_url, alt: job.company.name}
  %td
    %a{href: "/jobs/#{job.id}"}= job.title
    - if job.is_new
      %span.label.label-success
        Ny!
  %td.hidden-phone
    = job.display_categories
    .pull-right.hidden-phone 
      %a.btn.btn-primary.btn-mini{href: "/jobs/#{job.id}/" } 
        %span.glyphicon.glyphicon-info-sign
        Mer info
      - if can? :edit, job
        %a.btn.btn-info.btn-mini{href: "/jobs/#{job.id}/edit"} 
          %span.glyphicon.glyphicon-edit
          Redigera
