%tr
  %td
    = job.company.name
  %td
    = job.title
  %td
    = job.short_description
    - if job.is_new
      %span.label.label-success
        Ny!
  %td
    = job.display_categories
  %td 
    %a.btn.btn-primary{href: "/jobs/#{job.id}/" } 
      %i.icon-info-sign.icon-white 
      Mer info
    - if may_edit(job.id)
      %a.btn.btn-info{href: "/jobs/#{job.id}/edit"} 
        %i.icon-edit.icon-white
        Redigera
