%tr
  %td
    = job.company.name
  %td
    = job.title
  %td
    = job.short_description
  %td

    - if job.is_new
      %span.label.label-success
        New
    
    %abbr{class: "timeago", title: "#{job.starttime}"}
      = job.starttime
  %td
    = job.display_categories
  %td 
    %a.btn.btn-primary{href: "/jobs/#{job.id}/" } 
      %i.icon-info-sign.icon-white 
      Mer info
    -if Role.is_company_rep(env["warden"], job.company_id)
      %a.btn.btn-info{href: "/jobs/#{job.id}/edit"} 
        %i.icon-edit.icon-white
        Redigera
