%tr
  %td
    = job.company.name
  %td
    = job.title
  %td
    = job.trimmed_short_description
    - if job.is_new
      %span.label.label-success
        Ny!
  %td
    = job.display_categories
  %td 
    %a.btn.btn-primary.btn-mini{href: "/jobs/#{job.id}/" } 
      %i.icon-info-sign.icon-white 
      Mer info
    - if can? :edit, job
      %a.btn.btn-info.btn-mini{href: "/jobs/#{job.id}/edit"} 
        %i.icon-edit.icon-white
        Redigera
