.row.job{:class => "#{cycle_fully_sick}"}
  .col-xs-3.col-md-1
    %a{href: "/jobs/#{job.id}/" }
      %img.company_logo{src: job.company.logo_url, alt: job.company.name}
  .col-xs-9.col-md-5
    %a{href: "/jobs/#{job.id}"}= job.title
    - if job.is_new
      %span.label.label-success
        Ny!
  .col-xs-12.col-md-3.center.categories
    = job.display_categories
  .col-xs-12.col-md-3.center.actions
    %a.btn.btn-primary.btn-lg{href: "/jobs/#{job.id}/" }
      %span.glyphicon.glyphicon-info-sign
      Mer info
    - if can? :edit, job
      %a.btn.btn-info.btn-lg.edit-link{href: "/jobs/#{job.id}/edit"}
        %span.glyphicon.glyphicon-edit
