.row-fluid
  .hidden-phone
    .span10.offset1
      .notice
        .form-actions
          %p
            %span.strong
              Hallå!
            Du kan få uppdateringsmail med nya jobberbjudanden. Helt gratis och reklamfritt! Anmäl dig här:
          %p
            = haml :"subscribe"
      .row-fluid
        .span12
          .search
            = haml :"search", locals: {categories: @categories, selected_categories: @selected_categories }
      
  
          = haml :"jobs/_jobs", locals: {jobs: @jobs }
  .visible-phone
    .span12
      .joblist
        %h2.center
          Lediga tjänster
        %hr
      .search
        .hidden-phone
          = haml :"search", locals: {categories: @categories, selected_categories: @selected_categories }
      
  
        = haml :"jobs/_jobs", locals: {jobs: @jobs }
