.row{itemscope: true, itemtype: "http://schema.org/JobPosting"}
  .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-xs-12
    .top
      %h1{itemprop: "title"}
        = @job.title
      %hr
      .row
        .col-lg-3
          %h4
            %strong
              Företag
          %span{itemprop: "hiringOrganization", itemscope: true, itemtype: "http://schema.org/Organization" }= @job.company.name
          - unless @job.company.logo_url.nil?
            %br
            %img.company_logo_big{src: "#{@job.company.logo_url}",  alt: "#{@job.company.name}"}

          %h4
            %strong
              Kategorier
          %p{itemprop: "skills"}
            = @job.display_categories

          %h4
            %strong
              Ansökningsstopp
          = @job.endtime.strftime("%Y-%m-%d") rescue "No endtime"

          %h4
            %strong
              Intresserad?
            %a.btn.btn-primary{href: "#{@job.apply_link}"}
              Ansök nu
              %span.glyphicon.glyphicon-ok-sign

        .col-lg-8
          %span{itemprop: "description"}
            = @job.formated_description

          %p
            Låter detta som något för dig?
            %a.applybutton.btn.btn-primary.btn-lg.btn-block{href: "#{@job.apply_link}", itemprop: "url"} 
              %span.glyphicon.glyphicon-ok-sign
              Ansök nu!
