.row-fluid
  .span8.offset1
    .top
      %h1
        = @job.title
      %img{src: "#{@job.company.img_url}", width: "100", height: "30", vspace: "10", hspace: "10",  alt: "#{@job.company.name}"}
      %a{href: "/companies/#{@job.company.id}"}= @job.company.name
  

    %h5
      Kategorier
    %p
      = @job.display_categories
    %hr
    
    %p
      = @job.formated_description
        
    %h3
      Intresserad? 
      %a{href: "http://#{@job.apply_url}"} Sök nu!

