.row-fluid
  .span10.offset1.hidden-phone
    .top
      %h1
        = @job.title
      %hr
      .row-fluid
        .span3.shift
          %h4
            Företag
          = @job.company.name
          - unless @job.company.img_url.nil?
            %br
            %img{src: "#{@job.company.img_url}", width: "150", height: "30",  alt: "#{@job.company.name}"}

          %h4
            Kategorier
          %p
            = @job.display_categories
          
          %h4
            Ansökningsstopp
          = @job.endtime.strftime("%Y-%m-%d") rescue "No endtime"

          %h4
            Intresserad?
            - if @job.apply_url.empty?
              %a{href: "mailto:#{@job.company.email}"} Ansök nu
            - else
              %a{href: "http://#{@job.apply_url}"} Sök nu!

        .span8
          %p
            = @job.formated_description 
    %hr


  .span12.visible-phone
    .top
      .row-fluid
        .span12.center
          %h1
            = @job.title

          %hr
          %h4
            Företag
          = @job.company.name
          -unless @job.company.img_url.nil?
            %br
            %img{src: "#{@job.company.img_url}", width: "100", height: "30", vspace: "10", hspace: "10",  alt: "#{@job.company.name}"}

          %h4
            Kategorier
          %p
            = @job.display_categories
          
          %h4
            Ansökningsstopp
          = @job.endtime.strftime("%Y-%m-%d") rescue "No endtime"

          %h4
            Intresserad? 
          %a.btn.btn-primary{href: "http://#{@job.apply_url}"} Sök nu!
        
          %h4 Beskrivning
          %p
            = @job.formated_description
