.page-header
  %h1.center
    Subscribers
    %small
      = "(#{@subscribers.count})"

.row-fluid
  .span3.offset1
    %h4
      Förhandsgranska mailen som skickas ut
    %ul
      %li
        %a{href: "preview_mail?what=welcome"} Välkomstmail
      %li
        %a{href: "preview_mail?what=weekly"} Veckomail
        | 
        %a{href: "send_mail?what=weekly"} Skicka
  .span8
    .accordion#accordion2
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{ data: {toggle: "collapse", parent: "#accordion2"}, href: "#collapseOne"}
            Alla som har signat upp sig, komma separerat.
        #collapseOne.accordion-body.collapse
          .accordion-inner

            = @subscribers.map{ |v| v.email }.join(", ")
      
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{ data: {toggle: "collapse", parent: "#accordion2"}, href: "#collapseTwo"}
            Alla som har signat upp sig, Table.
        #collapseTwo.accordion-body.collapse
          .accordion-inner
            %table.table.table-striped
              %thead
                %tr
                  %th Email 
                  %th Funktion
              %tbody
                - @subscribers.each do |s|
                  %tr
                    %td= s.email
                    %td
                      %a.btn.btn-warning{href: "/subscribes/#{s.id}/delete"} Ta bort